<a href="https://colab.research.google.com/github/Josh1313/-sales-propensity-models-/blob/main/1_3_Preprocesamiento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# Leer el archivo pickle
df = pd.read_pickle("/content/drive/MyDrive/TFM/PREPROCESAMIENTO.pkl")

In [ ]:
df.head(10)

,Unique_ID_client,pk_partition,entry_date,entry_channel,active_customer,segment,short_term_deposit,loans,mortgage,funds,...,product10,product40,product60,duracion_meses,dias_entre_compras,compra_real,tiempo_desde_ultima_compra_otro,tiempo_entre_compras_mismo_producto,tiempo_desde_ultima_compra_otro_partition,tiempo_entre_compras_mismo_producto_partition
1479491,15891,2018-07-28,2018-07-28,KAT,1.0,02 - PARTICULARES,0,0,0,0,...,True,False,False,2,0.0,True,0.0,0.0,0.0,0.0
2168047,15891,2018-08-28,2018-07-28,KAT,0.0,02 - PARTICULARES,0,0,0,0,...,False,False,False,2,0.0,True,0.0,0.0,31.0,0.0
2962890,16063,2018-11-28,2018-11-19,KAT,1.0,02 - PARTICULARES,0,0,0,0,...,False,False,False,7,0.0,True,0.0,0.0,0.0,0.0
3628149,16063,2018-12-28,2018-11-19,KAT,1.0,02 - PARTICULARES,0,0,0,0,...,False,False,False,7,0.0,True,0.0,0.0,30.0,0.0
4028079,16063,2019-01-28,2018-11-19,KAT,1.0,02 - PARTICULARES,0,0,0,0,...,False,False,False,7,0.0,True,0.0,0.0,31.0,0.0
4480544,16063,2019-02-28,2018-11-19,KAT,1.0,02 - PARTICULARES,0,0,0,0,...,False,False,False,7,0.0,True,0.0,0.0,31.0,0.0
4875943,16063,2019-03-28,2018-11-19,KAT,0.0,02 - PARTICULARES,0,0,0,0,...,False,False,False,7,0.0,True,0.0,0.0,28.0,0.0
5134217,16063,2019-04-28,2018-11-19,KAT,1.0,02 - PARTICULARES,0,0,0,0,...,False,False,False,7,0.0,True,0.0,0.0,31.0,0.0
5523295,16063,2019-05-28,2018-11-19,KAT,0.0,02 - PARTICULARES,0,0,0,0,...,False,False,False,7,0.0,True,0.0,0.0,30.0,0.0
3628151,16203,2018-12-28,2018-12-23,KAT,0.0,02 - PARTICULARES,0,0,0,0,...,False,False,False,6,0.0,True,0.0,0.0,0.0,0.0

In [ ]:
# Cambiar formato de columnas de float64 a int
columns_to_convert = ['tiempo_desde_ultima_compra_otro', 'tiempo_entre_compras_mismo_producto', 'dias_entre_compras',
                      'tiempo_desde_ultima_compra_otro_partition', 'tiempo_entre_compras_mismo_producto_partition']

df[columns_to_convert] = df[columns_to_convert].astype(int)

In [ ]:
df.head()

,Unique_ID_client,pk_partition,entry_date,entry_channel,active_customer,segment,short_term_deposit,loans,mortgage,funds,...,product10,product40,product60,duracion_meses,dias_entre_compras,compra_real,tiempo_desde_ultima_compra_otro,tiempo_entre_compras_mismo_producto,tiempo_desde_ultima_compra_otro_partition,tiempo_entre_compras_mismo_producto_partition
1479491,15891,2018-07-28,2018-07-28,KAT,1.0,02 - PARTICULARES,0,0,0,0,...,True,False,False,2,0,True,0,0,0,0
2168047,15891,2018-08-28,2018-07-28,KAT,0.0,02 - PARTICULARES,0,0,0,0,...,False,False,False,2,0,True,0,0,31,0
2962890,16063,2018-11-28,2018-11-19,KAT,1.0,02 - PARTICULARES,0,0,0,0,...,False,False,False,7,0,True,0,0,0,0
3628149,16063,2018-12-28,2018-11-19,KAT,1.0,02 - PARTICULARES,0,0,0,0,...,False,False,False,7,0,True,0,0,30,0
4028079,16063,2019-01-28,2018-11-19,KAT,1.0,02 - PARTICULARES,0,0,0,0,...,False,False,False,7,0,True,0,0,31,0

In [ ]:
df['region_code'] = df['region_code'].replace('K', '1.0').astype(float)

In [ ]:
df['region_code'] = df['region_code'].astype(float)

In [ ]:
print(df.dtypes)

Unique_ID_client                                          int64
pk_partition                                     datetime64[ns]
entry_date                                       datetime64[ns]
entry_channel                                            object
active_customer                                         float64
segment                                                  object
short_term_deposit                                        int64
loans                                                     int64
mortgage                                                  int64
funds                                                     int64
securities                                                int64
long_term_deposit                                         int64
Cuenta easyMoney++                                        int64
credit_card                                               int64
payroll                                                 float64
pension_plan                                              int64
payroll_account                                           int64
Cuenta easyMoney Crypto                                   int64
debit_card                                                int64
Cuenta easyMoney+                                         int64
Cuenta easyMoney                                          int64
country_id                                               object
region_code                                             float64
gender                                                   object
age                                                       int64
deceased                                                 object
salary                                                  float64
product10                                                  bool
product40                                                  bool
product60                                                  bool
duracion_meses                                            int64
dias_entre_compras                                        int64
compra_real                                                bool
tiempo_desde_ultima_compra_otro                           int64
tiempo_entre_compras_mismo_producto                       int64
tiempo_desde_ultima_compra_otro_partition                 int64
tiempo_entre_compras_mismo_producto_partition             int64
dtype: object

Aca con el siguiente codigo realizo la sumatoria de cada transaccion por cliente y lo asigno a una fila y un nuevo data,llegando asi al numero deseado 456369 que son los clientes unicos

In [ ]:
df_final = df.groupby('Unique_ID_client').agg({'Unique_ID_client': 'first', 'duracion_meses': 'first', 'product10': 'first', 'pk_partition': 'last', 'entry_date': 'first', 'entry_channel': 'first', 'active_customer': 'last', 'segment': 'first', 'short_term_deposit': 'first', 'loans': 'first', 'mortgage': 'first', 'funds': 'first', 'securities': 'first', 'long_term_deposit': 'first', 'short_term_deposit': 'first', 'Cuenta easyMoney++': 'first', 'credit_card': 'first', 'payroll': 'first', 'pension_plan': 'first', 'payroll_account': 'first', 'Cuenta easyMoney Crypto': 'first', 'debit_card': 'first', 'Cuenta easyMoney+': 'first', 'Cuenta easyMoney': 'first', 'country_id': 'first', 'region_code': 'first', 'gender': 'first', 'age': 'first', 'deceased': 'first', 'salary': 'first', 'product40': 'first', 'product60': 'first', 'dias_entre_compras': 'first', 'compra_real': 'first', 'tiempo_desde_ultima_compra_otro': 'first', 'tiempo_entre_compras_mismo_producto': 'first', 'tiempo_desde_ultima_compra_otro_partition': 'first', 'tiempo_entre_compras_mismo_producto_partition': 'first'})

In [ ]:
df_final.shape

(456369, 37)

In [ ]:
df_final.head(5)

,Unique_ID_client,duracion_meses,product10,pk_partition,entry_date,entry_channel,active_customer,segment,short_term_deposit,loans,...,deceased,salary,product40,product60,dias_entre_compras,compra_real,tiempo_desde_ultima_compra_otro,tiempo_entre_compras_mismo_producto,tiempo_desde_ultima_compra_otro_partition,tiempo_entre_compras_mismo_producto_partition
Unique_ID_client,,,,,,,,,,,,,,,,,,,,,
15891,15891,2,True,2018-08-28,2018-07-28,KAT,0.0,02 - PARTICULARES,0,0,...,N,138422.67,False,False,0,True,0,0,0,0
16063,16063,7,False,2019-05-28,2018-11-19,KAT,0.0,02 - PARTICULARES,0,0,...,N,133512.27,False,False,0,True,0,0,0,0
16203,16203,6,False,2019-05-28,2018-12-23,KAT,1.0,02 - PARTICULARES,0,0,...,N,126313.98,False,False,0,True,0,0,0,0
16502,16502,8,False,2019-05-28,2018-09-30,KHE,1.0,03 - UNIVERSITARIO,0,0,...,N,131765.34,False,False,0,True,0,0,0,0
17457,17457,21,True,2019-05-28,2017-09-16,KAT,1.0,02 - PARTICULARES,0,0,...,N,102405.75,True,False,0,True,0,0,0,0

In [ ]:
df_final['entry_year'] = df_final['entry_date'].dt.year
df_final['entry_month'] = df_final['entry_date'].dt.month
df_final['entry_day'] = df_final['entry_date'].dt.day

In [ ]:
df_final['pk_partition_year'] = df_final['pk_partition'].dt.year
df_final['pk_partition_month'] = df_final['pk_partition'].dt.month
df_final['pk_partition_day'] = df_final['pk_partition'].dt.day

In [ ]:
 #Establecer 'entry_date' como índice y ordenar el DataFrame
df_final.set_index('entry_date', inplace=True)
df_final.sort_index(ascending=True, inplace=True)

In [ ]:
del df_final['pk_partition']

In [ ]:
del df_final['compra_real']

In [ ]:
df_final.head()

,Unique_ID_client,duracion_meses,product10,entry_channel,active_customer,segment,short_term_deposit,loans,mortgage,funds,...,tiempo_desde_ultima_compra_otro,tiempo_entre_compras_mismo_producto,tiempo_desde_ultima_compra_otro_partition,tiempo_entre_compras_mismo_producto_partition,entry_year,entry_month,entry_day,pk_partition_year,pk_partition_month,pk_partition_day
entry_date,,,,,,,,,,,,,,,,,,,,,
2015-01-01,622277,53,False,KAT,1.0,02 - PARTICULARES,0,0,0,0,...,0,0,0,0,2015,1,1,2019,5,28
2015-01-02,1000394,53,True,KHE,0.0,03 - UNIVERSITARIO,0,0,0,0,...,0,0,0,0,2015,1,2,2019,5,28
2015-01-02,1000554,53,False,KFC,0.0,02 - PARTICULARES,0,0,0,0,...,0,0,0,0,2015,1,2,2019,5,28
2015-01-02,1000552,53,True,KFC,1.0,02 - PARTICULARES,0,0,0,0,...,0,0,0,0,2015,1,2,2019,5,28
2015-01-02,1000551,53,True,KFC,1.0,03 - UNIVERSITARIO,0,0,0,0,...,0,0,0,0,2015,1,2,2019,5,28

In [ ]:
object_columns = df.select_dtypes(include=['object']).columns

In [ ]:
object_columns

Index(['entry_channel', 'segment', 'country_id', 'gender', 'deceased'], dtype='object')

In [ ]:
pd.set_option('display.max_rows', None)

In [ ]:
# Crear un umbral para la cantidad mínima de registros para no ser agrupados como "Otros"
umbral = 200

# Encontrar las categorías que tienen menos de 'umbral' registros
categorias_menos_frecuentes = df_final['entry_channel'].value_counts()[df_final['entry_channel'].value_counts() < umbral].index

# Reemplazar esas categorías con "Otros"
df_final.loc[df_final['entry_channel'].isin(categorias_menos_frecuentes), 'entry_channel'] = 'Otros'

# Imprimir el DataFrame con las categorías agrupadas
print(df_final['entry_channel'].value_counts())

KHE      328488
KFC       59514
KAT       26630
KHK       16132
KHD        4854
KFA        4816
KHM        3723
KHN        3346
RED        2964
KHL        2896
KHF        1400
Otros       426
KAZ         370
KHC         333
KHO         241
KHQ         236
Name: entry_channel, dtype: int64

In [ ]:
df_final['region_code'].value_counts()

28.0    98177
8.0     46089
46.0    27716
30.0    21765
41.0    21311
15.0    18136
29.0    13600
3.0     13476
36.0    12682
11.0    11752
33.0    10138
50.0     9947
35.0     9490
6.0      8771
47.0     8398
45.0     7803
18.0     7723
37.0     6595
10.0     5836
14.0     5671
39.0     5483
7.0      5265
2.0      5240
13.0     5084
21.0     5040
12.0     5003
43.0     4670
32.0     3871
17.0     3844
27.0     3731
9.0      3576
25.0     3405
48.0     2931
24.0     2769
4.0      2646
26.0     2608
38.0     2587
16.0     2520
23.0     2463
31.0     2359
19.0     2340
49.0     2221
34.0     1989
22.0     1629
40.0     1613
5.0      1568
20.0     1536
1.0      1210
44.0      942
42.0      696
51.0      243
52.0      211
Name: region_code, dtype: int64

In [ ]:
print(df_final.dtypes)

Unique_ID_client                                   int64
duracion_meses                                     int64
product10                                           bool
entry_channel                                     object
active_customer                                  float64
segment                                           object
short_term_deposit                                 int64
loans                                              int64
mortgage                                           int64
funds                                              int64
securities                                         int64
long_term_deposit                                  int64
Cuenta easyMoney++                                 int64
credit_card                                        int64
payroll                                          float64
pension_plan                                       int64
payroll_account                                    int64
Cuenta easyMoney Crypto                            int64
debit_card                                         int64
Cuenta easyMoney+                                  int64
Cuenta easyMoney                                   int64
country_id                                        object
region_code                                      float64
gender                                            object
age                                                int64
deceased                                          object
salary                                           float64
product40                                           bool
product60                                           bool
dias_entre_compras                                 int64
tiempo_desde_ultima_compra_otro                    int64
tiempo_entre_compras_mismo_producto                int64
tiempo_desde_ultima_compra_otro_partition          int64
tiempo_entre_compras_mismo_producto_partition      int64
entry_year                                         int64
entry_month                                        int64
entry_day                                          int64
pk_partition_year                                  int64
pk_partition_month                                 int64
pk_partition_day                                   int64
dtype: object

In [ ]:
# Crear un diccionario de mapeo de IDs de países a zonas
id_a_zona = {
    'ES': 'Europe',
    'GB': 'Europe',
    'FR': 'Europe',
    'US': 'North America',
    'CH': 'Europe',
    'DE': 'Europe',
    'BE': 'Europe',
    'BR': 'South America',
    'VE': 'South America',
    'AR': 'South America',
    'IE': 'Europe',
    'MX': 'North America',
    'AT': 'Europe',
    'IT': 'Europe',
    'PL': 'Europe',
    'CN': 'Asia',
    'SE': 'Europe',
    'CA': 'North America',
    'CL': 'South America',
    'MA': 'Africa',
    'RU': 'Europe',
    'CO': 'South America',
    'HU': 'Europe',
    'CI': 'Africa',
    'SA': 'Middle East',
    'CM': 'Africa',
    'PT': 'Europe',
    'LU': 'Europe',
    'DJ': 'Africa',
    'SN': 'Africa',
    'QA': 'Middle East',
    'DO': 'North America',
    'GA': 'Africa',
    'GT': 'North America',
    'NO': 'Europe',
    'MR': 'Africa',
    'JM': 'North America',
}

# Aplicar el mapeo de zonas a la columna 'country_id'
df_final['zona'] = df_final['country_id'].map(id_a_zona)

# Obtener el conteo de países por zona
zonas_contador = df_final['zona'].value_counts()

In [ ]:
object_columns = df_final.select_dtypes(include=['object']).columns

In [ ]:
object_columns

Index(['entry_channel', 'segment', 'country_id', 'gender', 'deceased', 'zona'], dtype='object')

In [ ]:
df_final.shape

(456369, 41)

Guarde este sin get dummies para diferentes experimentos

In [ ]:
df_final.to_pickle("/content/drive/MyDrive/TFM/PREPROCESAMIENTO_KMEANS.pkl")

In [ ]:
df_dummies = pd.get_dummies(df_final, columns=object_columns, drop_first=True)

In [ ]:
df_dummies.shape

(456369, 95)

In [ ]:
df1 = df_dummies.copy()

In [ ]:
df1.head()

,Unique_ID_client,duracion_meses,product10,active_customer,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,...,country_id_SN,country_id_US,country_id_VE,gender_Male,deceased_S,zona_Asia,zona_Europe,zona_Middle East,zona_North America,zona_South America
entry_date,,,,,,,,,,,,,,,,,,,,,
2015-01-01,622277,53,False,1.0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
2015-01-02,1000394,53,True,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2015-01-02,1000554,53,False,0.0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
2015-01-02,1000552,53,True,1.0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
2015-01-02,1000551,53,True,1.0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0

In [ ]:
df1.shape

(456369, 95)

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 456369 entries, 2015-01-01 00:00:00 to 2019-05-31 00:00:00
Data columns (total 95 columns):
 #   Column                                         Non-Null Count   Dtype
---  ------                                         --------------   -----
 0   Unique_ID_client                               456369 non-null  int64
 1   duracion_meses                                 456369 non-null  int64
 2   product10                                      456369 non-null  bool
 3   active_customer                                456369 non-null  float64
 4   short_term_deposit                             456369 non-null  int64
 5   loans                                          456369 non-null  int64
 6   mortgage                                       456369 non-null  int64
 7   funds                                          456369 non-null  int64
 8   securities                                     456369 non-null  int64
 9   long_term_deposit                              456369 non-null  int64
 10  Cuenta easyMoney++                             456369 non-null  int64
 11  credit_card                                    456369 non-null  int64
 12  payroll                                        456369 non-null  float64
 13  pension_plan                                   456369 non-null  int64
 14  payroll_account                                456369 non-null  int64
 15  Cuenta easyMoney Crypto                        456369 non-null  int64
 16  debit_card                                     456369 non-null  int64
 17  Cuenta easyMoney+                              456369 non-null  int64
 18  Cuenta easyMoney                               456369 non-null  int64
 19  region_code                                    456369 non-null  float64
 20  age                                            456369 non-null  int64
 21  salary                                         456369 non-null  float64
 22  product40                                      456369 non-null  bool
 23  product60                                      456369 non-null  bool
 24  dias_entre_compras                             456369 non-null  int64
 25  tiempo_desde_ultima_compra_otro                456369 non-null  int64
 26  tiempo_entre_compras_mismo_producto            456369 non-null  int64
 27  tiempo_desde_ultima_compra_otro_partition      456369 non-null  int64
 28  tiempo_entre_compras_mismo_producto_partition  456369 non-null  int64
 29  entry_year                                     456369 non-null  int64
 30  entry_month                                    456369 non-null  int64
 31  entry_day                                      456369 non-null  int64
 32  pk_partition_year                              456369 non-null  int64
 33  pk_partition_month                             456369 non-null  int64
 34  pk_partition_day                               456369 non-null  int64
 35  entry_channel_KAZ                              456369 non-null  uint8
 36  entry_channel_KFA                              456369 non-null  uint8
 37  entry_channel_KFC                              456369 non-null  uint8
 38  entry_channel_KHC                              456369 non-null  uint8
 39  entry_channel_KHD                              456369 non-null  uint8
 40  entry_channel_KHE                              456369 non-null  uint8
 41  entry_channel_KHF                              456369 non-null  uint8
 42  entry_channel_KHK                              456369 non-null  uint8
 43  entry_channel_KHL                              456369 non-null  uint8
 44  entry_channel_KHM                              456369 non-null  uint8
 45  entry_channel_KHN                              456369 non-null  uint8
 46  entry_channel_KHO                              456369 non-null  uint8
 47  entry_channel_KHQ                              456369 non-null  uint8
 48  entry_channel_Otros                            456369 non-null  uint8
 49  entry_channel_RED                              456369 non-null  uint8
 50  segment_02 - PARTICULARES                      456369 non-null  uint8
 51  segment_03 - UNIVERSITARIO                     456369 non-null  uint8
 52  country_id_AT                                  456369 non-null  uint8
 53  country_id_BE                                  456369 non-null  uint8
 54  country_id_BR                                  456369 non-null  uint8
 55  country_id_CA                                  456369 non-null  uint8
 56  country_id_CH                                  456369 non-null  uint8
 57  country_id_CI                                  456369 non-null  uint8
 58  country_id_CL                                  456369 non-null  uint8
 59  country_id_CM                                  456369 non-null  uint8
 60  country_id_CN                                  456369 non-null  uint8
 61  country_id_CO                                  456369 non-null  uint8
 62  country_id_DE                                  456369 non-null  uint8
 63  country_id_DJ                                  456369 non-null  uint8
 64  country_id_DO                                  456369 non-null  uint8
 65  country_id_ES                                  456369 non-null  uint8
 66  country_id_FR                                  456369 non-null  uint8
 67  country_id_GA                                  456369 non-null  uint8
 68  country_id_GB                                  456369 non-null  uint8
 69  country_id_GT                                  456369 non-null  uint8
 70  country_id_HU                                  456369 non-null  uint8
 71  country_id_IE                                  456369 non-null  uint8
 72  country_id_IT                                  456369 non-null  uint8
 73  country_id_JM                                  456369 non-null  uint8
 74  country_id_LU                                  456369 non-null  uint8
 75  country_id_MA                                  456369 non-null  uint8
 76  country_id_MR                                  456369 non-null  uint8
 77  country_id_MX                                  456369 non-null  uint8
 78  country_id_NO                                  456369 non-null  uint8
 79  country_id_PL                                  456369 non-null  uint8
 80  country_id_PT                                  456369 non-null  uint8
 81  country_id_QA                                  456369 non-null  uint8
 82  country_id_RU                                  456369 non-null  uint8
 83  country_id_SA                                  456369 non-null  uint8
 84  country_id_SE                                  456369 non-null  uint8
 85  country_id_SN                                  456369 non-null  uint8
 86  country_id_US                                  456369 non-null  uint8
 87  country_id_VE                                  456369 non-null  uint8
 88  gender_Male                                    456369 non-null  uint8
 89  deceased_S                                     456369 non-null  uint8
 90  zona_Asia                                      456369 non-null  uint8
 91  zona_Europe                                    456369 non-null  uint8
 92  zona_Middle East                               456369 non-null  uint8
 93  zona_North America                             456369 non-null  uint8
 94  zona_South America                             456369 non-null  uint8
dtypes: bool(3), float64(4), int64(28), uint8(60)
memory usage: 142.3 MB

guarde este ya con dummies

In [ ]:
df1.to_pickle("/content/drive/MyDrive/TFM/PREPROCESAMIENTO2.pkl")