<a href="https://colab.research.google.com/github/Josh1313/-sales-propensity-models-/blob/main/1_Data_merge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Firstly, I will review the information from three databases.
# Afterwards, I will determine the best way to merge all the information into a single dataset.
# Finally, I will save the merged dataset in a pickle file

File "Commercial activity"

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Fintech/commercial_activity_df.csv")

In [ ]:
df.shape

(5962924, 7)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5962924 entries, 0 to 5962923
Data columns (total 7 columns):
 #   Column           Dtype
---  ------           -----
 0   Unnamed: 0       int64
 1   pk_cid           int64
 2   pk_partition     object
 3   entry_date       object
 4   entry_channel    object
 5   active_customer  float64
 6   segment          object
dtypes: float64(1), int64(2), object(4)
memory usage: 318.5+ MB

In [ ]:
df.head(3)

,Unnamed: 0,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment
0,0,1375586,2018-01-28,2018-01-12,KHL,1.0,02 - PARTICULARES
1,1,1050611,2018-01-28,2015-08-10,KHE,0.0,03 - UNIVERSITARIO
2,2,1050612,2018-01-28,2015-08-10,KHE,0.0,03 - UNIVERSITARIO

In [ ]:
df.isnull().sum()

Unnamed: 0              0
pk_cid                  0
pk_partition            0
entry_date              0
entry_channel      133033
active_customer         0
segment            133944
dtype: int64

# File "Product"

In [ ]:
df1 = pd.read_csv("/content/drive/MyDrive/Fintech/products_df.csv")

In [ ]:
df1.shape

(5962924, 18)

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5962924 entries, 0 to 5962923
Data columns (total 18 columns):
 #   Column              Dtype
---  ------              -----
 0   Unnamed: 0          int64
 1   pk_cid              int64
 2   pk_partition        object
 3   short_term_deposit  int64
 4   loans               int64
 5   mortgage            int64
 6   funds               int64
 7   securities          int64
 8   long_term_deposit   int64
 9   em_account_pp       int64
 10  credit_card         int64
 11  payroll             float64
 12  pension_plan        float64
 13  payroll_account     int64
 14  emc_account         int64
 15  debit_card          int64
 16  em_account_p        int64
 17  em_acount           int64
dtypes: float64(2), int64(15), object(1)
memory usage: 818.9+ MB

In [ ]:
df1.head(3)

,Unnamed: 0,pk_cid,pk_partition,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount
0,0,1375586,2018-01-28,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
1,1,1050611,2018-01-28,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
2,2,1050612,2018-01-28,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1

In [ ]:
df1.isnull().sum()

Unnamed: 0             0
pk_cid                 0
pk_partition           0
short_term_deposit     0
loans                  0
mortgage               0
funds                  0
securities             0
long_term_deposit      0
em_account_pp          0
credit_card            0
payroll               61
pension_plan          61
payroll_account        0
emc_account            0
debit_card             0
em_account_p           0
em_acount              0
dtype: int64

# File  "Sociodemographic"

In [ ]:
df2 = pd.read_csv("/content/drive/MyDrive/Fintech/sociodemographic_df.csv")

In [ ]:
df2.shape

(5962924, 9)

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5962924 entries, 0 to 5962923
Data columns (total 9 columns):
 #   Column        Dtype
---  ------        -----
 0   Unnamed: 0    int64
 1   pk_cid        int64
 2   pk_partition  object
 3   country_id    object
 4   region_code   float64
 5   gender        object
 6   age           int64
 7   deceased      object
 8   salary        float64
dtypes: float64(2), int64(3), object(4)
memory usage: 409.4+ MB

In [ ]:
df2.head(3)

,Unnamed: 0,pk_cid,pk_partition,country_id,region_code,gender,age,deceased,salary
0,0,1375586,2018-01-28,ES,29.0,H,35,N,87218.10
1,1,1050611,2018-01-28,ES,13.0,V,23,N,35548.74
2,2,1050612,2018-01-28,ES,13.0,V,23,N,122179.11

In [ ]:
df2.isnull().sum()

Unnamed: 0            0
pk_cid                0
pk_partition          0
country_id            0
region_code        2264
gender               25
age                   0
deceased              0
salary          1512103
dtype: int64

# Now that I have reviewed the databases and understood that they share the same entries and have two common columns, I will use the merge function to make databases into one, aligning them from the right side and by columns that they share in commun.

# Before proceeding, I will save the merged dataset in a pickle file located in my data folder.

# Afterwards, I will read the pickle file once again to start working on the project.

In [ ]:
import pandas as pd

# Rutas de los archivos a merge
archivo1 = "/content/drive/MyDrive/Fintech/commercial_activity_df.csv"
archivo2 = "/content/drive/MyDrive/Fintech/products_df.csv"
archivo3 = "/content/drive/MyDrive/Fintech/sociodemographic_df.csv"

# Leer los archivos como dataframes
df1 = pd.read_csv(archivo1)
df2 = pd.read_csv(archivo2)
df3 = pd.read_csv(archivo3)

# Concatenar los dataframes por columnas
columna_juntas = ["pk_cid", "pk_partition"]

#realiza la union con merge para que lo junte por las dos olumnas en comun
dfc = pd.merge(df1, df2, on=columna_juntas)
dfc = pd.merge(dfc, df3, on=columna_juntas)

archivo_concatenado = "/content/drive/MyDrive/Fintech/concatenado.pkl"
dfc.to_pickle(archivo_concatenado)

print("Archivos concatenados exitosamente.")

Archivos concatenados exitosamente.

# Now, i will read the merge document to see if was properly save and merge

In [ ]:
# Leer el archivo pickle y cargarlo como un dataframe
df1 = pd.read_pickle("/content/drive/MyDrive/Fintech/concatenado.pkl")

In [ ]:
df1.shape

(5962924, 30)

In [ ]:
9+7+18 # COLUMNAS DE CADA DATA SET - menos 4 columnas que se removieron por ser por la cules las juntamos

34

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5962924 entries, 0 to 5962923
Data columns (total 30 columns):
 #   Column              Dtype
---  ------              -----
 0   Unnamed: 0_x        int64
 1   pk_cid              int64
 2   pk_partition        object
 3   entry_date          object
 4   entry_channel       object
 5   active_customer     float64
 6   segment             object
 7   Unnamed: 0_y        int64
 8   short_term_deposit  int64
 9   loans               int64
 10  mortgage            int64
 11  funds               int64
 12  securities          int64
 13  long_term_deposit   int64
 14  em_account_pp       int64
 15  credit_card         int64
 16  payroll             float64
 17  pension_plan        float64
 18  payroll_account     int64
 19  emc_account         int64
 20  debit_card          int64
 21  em_account_p        int64
 22  em_acount           int64
 23  Unnamed: 0          int64
 24  country_id          object
 25  region_code         float64
 26  gender              object
 27  age                 int64
 28  deceased            object
 29  salary              float64
dtypes: float64(5), int64(18), object(7)
memory usage: 1.4+ GB

In [ ]:
dfc.head(3)

,Unnamed: 0_x,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment,Unnamed: 0_y,short_term_deposit,loans,...,debit_card,em_account_p,em_acount,Unnamed: 0,country_id,region_code,gender,age,deceased,salary
0,0,1375586,2018-01-28,2018-01-12,KHL,1.0,02 - PARTICULARES,0,0,0,...,0,0,1,0,ES,29.0,H,35,N,87218.10
1,1,1050611,2018-01-28,2015-08-10,KHE,0.0,03 - UNIVERSITARIO,1,0,0,...,0,0,1,1,ES,13.0,V,23,N,35548.74
2,2,1050612,2018-01-28,2015-08-10,KHE,0.0,03 - UNIVERSITARIO,2,0,0,...,0,0,1,2,ES,13.0,V,23,N,122179.11